<nav class="navbar sticky-top navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand" href="<%= root_url %>">Artemis</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <% if account.present? && account.persisted? %>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a href="<%= account_path(account) %>" class="nav-link <%= 'active' if current_page?(account_path(account)) %>" data-turbolinks-action="replace">Dashboard</a>
          </li>
          <li class="nav-item">
            <a href="<%= account_analyses_path(account) %>" class="nav-link <%= 'active' if current_page?(account_analyses_path(account)) %>" data-turbolinks-action="replace">SmartRecommender</a>
          </li>
          <li class="nav-item">
            <a href="<%= account_inventories_path(account) %>" class="nav-link <%= 'active' if current_page?(account_inventories_path(account)) %>" data-turbolinks-action="replace">Inventory</a>
          </li>
          <li class="nav-item">
            <a href="<%= account_anomalies_path(account) %>" class="nav-link <%= 'active' if current_page?(account_anomalies_path(account)) %>" data-turbolinks-action="replace">Anomalies</a>
          </li>
          <li class="nav-item">
            <a href="<%= account_members_path(account) %>" class="nav-link <%= 'active' if current_page?(account_members_path(account)) %>" data-turbolinks-action="replace">Members
            </a>
          </li>
        </ul>
      </div>
    <% end %>
    <% if user_signed_in? %>
      <div class="d-flex">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a href="#" class="nav-link">Hi, <%= current_user.first_name %></a>
          </li>
          <li class="nav-item">
            <a href="<%= destroy_user_session_path %>" data-turbolinks-action="replace" class="nav-link">Sign Out</a>
          </li>
        </ul>
      </div>
    <% end %>
  </div>
</nav>
