<h1>Analyses for <%= @account.name %></h1>
<p>Get AWS cost efficiency recommendations for your current usage.</p>

<ol>
    <% @analyses.each do |analysis| %>
        <li>
            <a href="/analyses/<%= analysis.id %>">
            <a href="<%= account_analysis_path(@account, analysis) %>">
                <%= analysis.id %>
            </a>
             <%= analysis.created_at %> 
        </li>
    <% end %>
</ol>

<div>
    <%= link_to "New Analysis", new_account_analysis_path %>
</div>
<div>
    <%= link_to "Back to Accounts", accounts_path %>
</div>