<%
  on_demand_usage_for_chart = GraphHelpers.format_cost_and_usage_for_chart(@on_demand_usage, "On Demand")
  csp_usage_for_chart = GraphHelpers.format_cost_and_usage_for_chart(@csp_usage, "Savings Plans")
  merged_chart_data = GraphHelpers.merge_chart_cost_and_usage_data([csp_usage_for_chart, on_demand_usage_for_chart])
  on_demand_usage_hourly_for_chart = GraphHelpers.format_cost_and_usage_for_chart(@on_demand_usage_hourly, "On Demand Hourly")
  on_demand_usage_daily = GraphHelpers.format_cost_and_usage_for_chart(@on_demand_usage, "On Demand", (Time.now.utc - 14.days).beginning_of_day.to_s)
%>
<section class="container">
  <div class="row">
    <div class="col">
      <h3 class="display-3">SmartRecommendations for <%= @account.name %></h3>
      <div class="row">
        <div class="col-8">
          <p>Get AWS cost efficiency recommendations for your current usage.</p>
        </div>
        <div class="col-4 text-end">
          <a href="<%= new_account_analysis_path %>" class="btn btn-primary btn-outline" data-turbolinks-action="replace">New Run</a>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <h3>On Demand vs Savings Plans Dollars - 6 Months</h3>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <%= area_chart(merged_chart_data, points: false, stacked: false, legend: "bottom", xtitle: "Date", ytitle: "Dollars", prefix: "$", thousands: ",", round: 2) %>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <h3>On Demand Hourly - 14 Days</h3>
    </div>
  </div>
  <div class="row mt-3">
    <div class="col">
      <%= column_chart(on_demand_usage_hourly_for_chart, legend: "bottom", xtitle: "Datetime", ytitle: "Dollars", prefix: "$", thousands: ",", round: 2) %>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <h3>On Demand Daily - 14 Days</h3>
    </div>
  </div>
  <div class="row mt-3">
    <div class="col">
      <%= column_chart(on_demand_usage_daily, legend: "bottom", xtitle: "Datetime", ytitle: "Dollars", prefix: "$", thousands: ",", round: 2) %>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <table class="table">
        <thead>
          <tr>
            <th>Ran At</th>
            <th>Start Date</th>
            <th>End Date</th>
            <th>Granularity</th>
            <th>Enterprise Discount</th>
            <th>Optimal Hourly Commit</th>
            <th></th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <% @analyses.each do |analysis| %>
            <tr>
              <td><%= analysis.created_at.to_date %></td>
              <td><%= analysis.start_date.to_s.to_date %></td>
              <td><%= analysis.end_date.to_s.to_date %></td>
              <td><%= analysis.granularity.capitalize %></td>
              <td><%= analysis.enterprise_cross_service_discount %>%</td>
              <td><%= number_to_currency(analysis.optimal_hourly_commit) %></td>
              <td>
                <a href="<%= account_analysis_path(@account, analysis) %>">
                  View
                </a>
              </td>
              <td>
                <%= link_to "Delete", account_analysis_path(@account, analysis), data: { turbo_method: :delete, turbo_confirm: "Are you sure?" } %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</section>
