<h1>Analyses for <%= @account.name %></h1>
<p>Get AWS cost efficiency recommendations for your current usage.</p>

<ol>
    <% @analyses.each do |analysis| %>
        <li>
            <%= analysis.created_at.to_date %> 
            <a href="/analyses/<%= analysis.id %>">
            <a href="<%= account_analysis_path(@account, analysis) %>">
                <%= analysis.id %>
            </a>
             <%= analysis.start_date.to_s.to_date %>
             <%= analysis.end_date.to_s.to_date %>
             <%= analysis.enterprise_cross_service_discount %>
             <%= analysis.optimal_hourly_commit&.round(2) %>
        </li>
    <% end %>
</ol>

<div>
    <%= link_to "New Analysis", new_account_analysis_path %>
</div>
<div>
    <%= link_to "Back to Accounts", accounts_path %>
</div>