<h1>Analyses for <%= @account.name %></h1>
<p>Get AWS cost efficiency recommendations for your current usage.</p>

<table>
  <thead>
    <tr>
      <th>Created At</th>
      <th>Start Date</th>
      <th>End Date</th>
      <th>Enterprise Discount</th>
      <th>Optimal Commit</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @analyses.each do |analysis| %>
      <tr>
        <td><%= analysis.created_at.to_date %></td>
        <td><%= analysis.start_date.to_s.to_date %></td>
        <td><%= analysis.end_date.to_s.to_date %></td>
        <td><%= analysis.enterprise_cross_service_discount %></td>
        <td><%= analysis.optimal_hourly_commit&.round(2) %></td>
        <td>
          <a href="<%= account_analysis_path(@account, analysis) %>">
            View
          </a>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<div>
    <%= link_to "New Analysis", new_account_analysis_path %>
</div>
<div>
    <%= link_to "Back to Account", account_path(@account) %>
</div>