<%
  new_monthly_savings = number_to_currency(
    @full_dataset.sum { |row| row[:savings] } * 30.4 / @full_dataset.count * (@analysis.granularity == "HOURLY" ? 24 : 1)
  )
  new_average_coverage = (@full_dataset.sum { |row| row[:new_coverage] } / @full_dataset.count).round(2)
  current_average_coverage = (@full_dataset.sum { |row| row[:coverage] } / @full_dataset.count).round(2)
  new_coverage_delta = (new_average_coverage - current_average_coverage).round(2)
  last_ninety_days_data = @last_ninety_days[0]&.fetch(:data) || []
  last_ninety_total_excluding_analysis_period = last_ninety_days_data.filter { |res| !(res[0] >= @analysis.start_date && res[0] <= @analysis.end_date) }
  cost_for_analysis_period = last_ninety_days_data.filter { |res| res[0] >= @analysis.start_date && res[0] <= @analysis.end_date }
  total_spend_current_for_time_period = @full_dataset.sum { |row| row[:savings_plans] + row[:on_demand_post_discount] }
  total_spend_new_for_time_period = @full_dataset.sum { |row| row[:savings_plans] + row[:csp_prime] + row[:on_demand_post_edp_post_csp_prime] }
  total_savings_for_time_period = total_spend_current_for_time_period - total_spend_new_for_time_period
  ninety_day_lookback_chart_data = [
    {
      name: 'Last 90 days',
      data: last_ninety_total_excluding_analysis_period
    },
    {
      name: 'Analysis period',
      data: cost_for_analysis_period
    }
  ]
  spend_delta_chart_data = [
    {
      name: 'Current total spend',
      data: @full_dataset.map { |row| [row[:date], row[:savings_plans] + row[:on_demand_post_discount]] }
    },
    {
      name: 'New total spend',
      data: @full_dataset.map { |row| [row[:date], row[:savings_plans] + row[:csp_prime] + row[:on_demand_post_edp_post_csp_prime]] }
    },
    {
      name: 'Difference',
      data: @full_dataset.map { |row| [row[:date], row[:savings_plans] + row[:csp_prime] + row[:on_demand_post_edp_post_csp_prime] - row[:savings_plans] - row[:on_demand_post_discount]] }
    }
  ]
  coverage_delta_chart_data = [
    {
      name: 'Current Coverage',
      data: @full_dataset.map { |row| [row[:date], row[:coverage]] }
    },
    {
      name: 'New Coverage',
      data: @full_dataset.map { |row| [row[:date], row[:new_coverage]] }
    },
    {
      name: 'Difference',
      data: @full_dataset.map { |row| [row[:date], row[:new_coverage] - row[:coverage]] }
    }
  ]
%>
<section class="container">
  <div class="row">
    <div class="col">
      <h4 class="display-4">Optimized CSP Recommendation</h4>
    </div>
  </div>

  <div class="row align-items-start mt-3">
    <div class="col">
      <div class="card">
        <div class="card-header">
          <h4>Summary</h4>
        </div>
        <div class="card-body">
          <p>
            <span class="text-secondary">Optimal hourly commit</span>: <%= number_to_currency(@analysis.optimal_hourly_commit) %>
          </p>
          <p>
            <span class="text-secondary">Current average <%= @analysis.granularity.downcase %>
              coverage</span>: <%= current_average_coverage %>%
          </p>
          <p>
            <span class="text-secondary">New average <%= @analysis.granularity.downcase %>
              coverage</span>: <%= new_average_coverage %>%
            <span style="color: green;">(<%= new_coverage_delta > 0 ? "+" : "" %><%= new_coverage_delta %>%)</span>
          </p>
          <p>
            <span class="text-secondary">Current total spend for time period</span>: <%= number_to_currency(total_spend_current_for_time_period) %>
          </p>
          <p>
            <span class="text-secondary">New total spend for time period</span>: <%= number_to_currency(total_spend_new_for_time_period) %>
          </p>
          <p>
            <span class="text-secondary">Savings for time period</span>:
            <span style="color: green;"><%= number_to_currency(total_savings_for_time_period) %></span>
          </p>
          <p>
            <span class="text-secondary">Monthly savings</span>:
            <span style="color: green;"><%= new_monthly_savings %></span>
          </p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card">
        <div class="card-header">
          <h4>Inputs</h4>
        </div>
        <div class="card-body">
          <p>
            <span class="text-secondary">Start date</span>: <%= @analysis.start_date.strftime('%Y-%m-%d') %>
          </p>
          <p>
            <span class="text-secondary">End date</span>: <%= @analysis.end_date.strftime('%Y-%m-%d') %>
          </p>
          <p>
            <span class="text-secondary">Granularity</span>: <%= @analysis.granularity.capitalize %>
          </p>
          <p>
            <span class="text-secondary">Enterprise cross-service discount</span>: <%= @analysis.enterprise_cross_service_discount %>
            %
          </p>
          <p>
            <span class="text-secondary">Commitment length</span>: <%= @analysis.commitment_years %> years
          </p>
          <p>
            <span class="text-secondary">Estimated discount versus on-demand</span>: <%= Analysis::COMMITMENT_YEARS_TO_DISCOUNT[@analysis.commitment_years] * 100 %>
            %
          </p>
          <p>
            <span class="text-secondary">Analysis ran at</span>: <%= @analysis.created_at.strftime('%Y-%m-%d %H:%M:%S') %>
            UTC
          </p>
        </div>
      </div>
    </div>
  </div>

  <div class="row mt-3">
    <div class="col">
      <h3>Optimal Commitment: <%= number_to_currency(@analysis.optimal_hourly_commit) %> / hr</h3>
      <div class="mt-3">We searched all possible commitment values to optimize savings.</div>
      <div class="mb-3">By committing to <%= number_to_currency(@analysis.optimal_hourly_commit) %> per hour
        for <%= @analysis.commitment_years %> year<%= @analysis.commitment_years > 1 ? 's' : '' %>
        with no up front payment, you will save approximately <%= new_monthly_savings %> per month.
      </div>

      <p class="d-inline-flex gap-1">
        <a class="btn btn-outline-primary" data-bs-toggle="collapse" href="#collapseOptimalCSP" role="button" aria-expanded="false" aria-controls="collapseOptimalCSP">
          Show chart
        </a>
      </p>
      <div class="collapse" id="collapseOptimalCSP">
        <div class="card card-body">
          <%= line_chart(@analysis.chart_data, xtitle: "Hourly Commitment $", ytitle: "Monthly Savings $", prefix: "$", thousands: ",", round: 2) %>
        </div>
      </div>
    </div>
  </div>

  <div class="row mt-4">
    <div class="col">
      <h3>Total Spend</h3>
      <div class="my-3">If your spend remains the same as the sample period, here is the current vs new spend.</div>
      <%= line_chart(spend_delta_chart_data, points: false, legend: "bottom", xtitle: "Date", ytitle: "Dollars", prefix: "$", thousands: ",", round: 2) %>
    </div>
  </div>

  <div class="row mt-4">
    <div class="col">
      <h3>Coverage</h3>
      <div class="my-3">This is how the coverage would change.</div>
      <%= line_chart(coverage_delta_chart_data, points: false, legend: "bottom", xtitle: "Date", ytitle: "Percent", suffix: "%", round: 2) %>
    </div>
  </div>

  <div class="row mt-4">
    <div class="col">
      <h3>Eligible On-Demand</h3>
      <div class="my-3">Here's the last 3 months of compute-eligible on-demand spend for reference.</div>
      <%= line_chart(ninety_day_lookback_chart_data, legend: "bottom", xtitle: "Date", ytitle: "Dollars", prefix: "$", thousands: ",", round: 2) %>
    </div>
  </div>

  <div class="row my-4">
    <div class="col">
      <p class="d-inline-flex gap-1">
        <a class="btn btn-outline-primary" data-bs-toggle="collapse" href="#collapseOptimalCSPTable" role="button" aria-expanded="false" aria-controls="collapseOptimalCSPTable">
          Show Full Dataset
        </a>
      </p>
      <div class="collapse" id="collapseOptimalCSPTable">
        <div class="overflow-x-auto">
          <table class="table">
            <thead>
            <th scope="col">Date (UTC)</th>
            <th scope="col">OD post-EDP discount</th>
            <th scope="col">Savings Plans</th>
            <th scope="col">OD covered by CSP</th>
            <th scope="col">Total OD Dollars</th>
            <th scope="col">Coverage</th>
            <th scope="col">OD pre-EDP discount</th>
            <th scope="col">Total we spend today</th>
            <th scope="col">CSP' (new commit)</th>
            <th scope="col">CSP' in on demand dollars</th>
            <th scope="col">CSP' + CSP in on demand dollars</th>

            <th scope="col">OD pre-EDP, post apply CSP'</th>
            <th scope="col">OD post-EDP, post CSP'</th>
            <th scope="col">New Total</th>
            <th scope="col">Savings</th>
            <th scope="col">New Coverage</th>
            </thead>
            <tbody>
            <% @full_dataset.each do |row| %>
              <tr>
                <td><%= "#{row[:date]}" %></td>
                <td><%= "#{number_to_currency(row[:on_demand_post_discount])}" %></td>
                <td><%= "#{number_to_currency(row[:savings_plans])}" %></td>
                <td><%= "#{number_to_currency(row[:on_demand_covered_by_csp])}" %></td>
                <td><%= "#{number_to_currency(row[:total_on_demand_dollars])}" %></td>
                <td><%= "#{row[:coverage]}%" %></td>
                <td><%= "#{number_to_currency(row[:on_demand_pre_discount])}" %></td>
                <td><%= "#{number_to_currency(row[:total_we_spend_today])}" %></td>
                <td><%= "#{number_to_currency(row[:csp_prime])}" %></td>
                <td><%= "#{number_to_currency(row[:csp_prime_in_on_demand])}" %></td>
                <td><%= "#{number_to_currency(row[:csp_prime_plus_csp_in_on_demand])}" %></td>
                <td><%= "#{number_to_currency(row[:on_demand_pre_edp_post_csp_prime])}" %></td>
                <td><%= "#{number_to_currency(row[:on_demand_post_edp_post_csp_prime])}" %></td>
                <td><%= "#{number_to_currency(row[:new_total])}" %></td>
                <td><%= "#{number_to_currency(row[:savings])}" %></td>
                <td><%= "#{row[:new_coverage]}%" %></td>
              </tr>
            <% end %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</section>
