<!DOCTYPE html>
<html>
  <head>
    <title>CostGuru</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
      <div>
        <% flash.each do |type, msg| %>
          <div class="alert alert-<%= type == 'alert' ? 'danger' : 'primary' %>" role="alert">
            <%= msg.html_safe if msg %>
          </div>
        <% end %>
      </div>
        <div>
          <% if user_signed_in? %>
            <span class="text-secondary">
              Hi, <%= current_user.first_name %>
            </span>
            <span><%= link_to "Sign out", destroy_user_session_path %></span>
          <% end %>
        </div>
    <%= yield %>
  </body>
</html>
