<section class="container">
  <h1>Edit account</h1>
  <%= form_with model: @account do |form| %>
    <div>
      <%= form.label :name %><br>
      <%= form.text_field :name %>
    </div>
    <div>
      <%= form.label :cross_account_role_arn %><br>
      <%= form.text_field :role_arn %>
    </div>
    <div>
      <%= form.label :iam_access_key_id %><br>
      <%= form.text_field :iam_access_key_id %>
    </div>
    <div>
      <%= form.label :iam_secret_access_key %><br>
      <%= form.text_field :iam_secret_access_key %>
    </div>
      <div>
          <%= form.submit %>
      </div>
  <% end %>
</section>