<%
  chart_data = [
    {
      name: 'Actuals',
      data: @cost_summary[:this_month_current_by_day].map { |result_by_time| [result_by_time[:start], result_by_time[:total]] }
    },
    {
      name: 'Forecast',
      data: @cost_summary[:this_month_forecast_by_day].map { |result_by_time| [result_by_time[:start], result_by_time[:total]] }
    }
  ]
  current_monthly_total = @cost_summary[:this_month_current_by_day].sum do |result_by_time|
    result_by_time[:total]
  end
  expected_month_end_total = current_monthly_total + @cost_summary[:this_month_forecast_by_day].sum { |result_by_time| result_by_time[:total] }
  current_month_current_services_to_ignore_total = @cost_summary[:this_month_current_services_to_ignore].sum do |result_by_time|
    result_by_time[:total]
  end
%>
<section class="container">
  <div class="row">
    <div class="col">
      <h1 class="display-1"><%= @account.name %> Dashboard</h1>
      <div class="text-secondary">
        <% if @account.is_connected? %>
          <i class="fa-solid fa-check" style="color: green;"></i> Connected
          with <%= @account.connection_strategy.gsub("_", " ") %>
        <% else %>
          <i class="fa-solid fa-xmark" style="color: red;"></i> Not connected
        <% end %>
      </div>
    </div>
  </div>
  <div class="row mt-5 mb-2">
    <div class="col">
      <h4>Current Month</h4>
    </div>
  </div>
  <div class="row mt-2">
    <div class="col">
      <div class="row text-center">
        <div class="col">
          <h5>Core Usage</h5>
        </div>
      </div>
      <div class="row my-4">
        <div class="col">
          <%= column_chart(chart_data, stacked: true, legend: "bottom", xtitle: "Date", ytitle: "Dollars", prefix: "$", thousands: ",", round: 2) %>
        </div>
      </div>
      <div class="row text-center">
        <div class="col">
          <b>Month-to-Date:</b> <%= number_to_currency(current_monthly_total) %>
        </div>
      </div>
      <div class="row text-center">
        <div class="col">
          <b>Forecast:</b> <%= number_to_currency(expected_month_end_total) %>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="row text-center">
        <div class="col">
          <h5>Non-Core Usage</h5>
        </div>
      </div>
      <div class="row my-4">
        <div class="col">
          <%=
            column_chart(
              GraphHelpers.format_cost_and_usage_for_chart(@cost_summary[:this_month_current_services_to_ignore]),
              stacked: true,
              legend: "bottom",
              xtitle: "Date",
              ytitle: "Dollars",
              prefix: "$",
              thousands: ",",
              round: 2
            )
          %>
        </div>
      </div>
      <div class="row text-center">
        <div class="col">
          <b>Month-to-Date:</b> <%= number_to_currency(current_month_current_services_to_ignore_total) %>
        </div>
      </div>
    </div>
  </div>
  <div class="row mt-5 mb-2">
    <div class="col">
      <h4>Historicals – 6 Months</h4>
    </div>
  </div>
  <div class="row mt-2">
    <div class="col">
      <div class="row text-center">
        <div class="col">
          <h5>Core Usage</h5>
        </div>
      </div>
      <div class="row my-4">
        <div class="col">
          <%=
            column_chart(
              GraphHelpers.format_cost_and_usage_for_chart(@historical_usage_core),
              stacked: false,
              legend: "bottom",
              xtitle: "Date",
              ytitle: "Dollars",
              prefix: "$",
              thousands: ",",
              round: 2
            )
          %>
        </div>
      </div>
    </div>
  </div>
  <div class="row mt-2">
    <div class="col">
      <div class="row text-center">
        <div class="col">
          <h5>Non-Core Usage</h5>
        </div>
      </div>
      <div class="row my-4">
        <div class="col">
          <%=
            column_chart(
              GraphHelpers.format_cost_and_usage_for_chart(@historical_usage_non_core),
              stacked: false,
              legend: "bottom",
              xtitle: "Date",
              ytitle: "Dollars",
              prefix: "$",
              thousands: ",",
              round: 2
            )
          %>
        </div>
      </div>
    </div>
  </div>
  <div class="row mt-5 mb-2">
    <div class="col">
      <h4>Compute Savings Plans – 6 Months</h4>
    </div>
  </div>
  <div class="row mt-5 mb-2 text-center">
    <div class="col">
      <h5>On Demand vs Savings Plans Spend</h5>
    </div>
  </div>
  <div class="row mt-2">
    <div class="col">
      <%
        on_demand_usage_for_chart = GraphHelpers.format_cost_and_usage_for_chart(@on_demand_usage, "On Demand")
        csp_usage_for_chart = GraphHelpers.format_cost_and_usage_for_chart(@csp_usage, "Savings Plans")
        merged_chart_data = GraphHelpers.merge_chart_cost_and_usage_data([csp_usage_for_chart, on_demand_usage_for_chart])
      %>
      <%= area_chart(merged_chart_data, points: false, legend: "bottom", xtitle: "Date", ytitle: "Dollars", prefix: "$", thousands: ",", round: 2) %>
    </div>
  </div>
  <div class="row mt-5 text-center">
    <div class="col">
      <h5>Coverage</h5>
    </div>
  </div>
  <div class="row mt-2">
    <div class="col">
      <%
        csp_coverage_chart_data = @csp_coverage.map { |coverage| [coverage[:start], coverage[:percentage]] }
      %>
      <%= area_chart(csp_coverage_chart_data, points: false, xtitle: "Date", ytitle: "Percent", suffix: "%", round: 2) %>
    </div>
  </div>
  <div class="row mt-5 text-center">
    <div class="col">
      <h5>Utilization</h5>
    </div>
  </div>
  <div class="row my-2">
    <div class="col">
      <%
        csp_utilization_chart_data = @csp_utilization.map { |utilization| [utilization[:start], utilization[:percentage]] }
      %>
      <%= area_chart(csp_utilization_chart_data, points: false, xtitle: "Date", ytitle: "Percent", suffix: "%", round: 2) %>
    </div>
  </div>
</section>
