<section class="container">
    <h1><%= @account.name %> Overview</h1>
    <div>
        <% if @account.is_connected? %>
            ✅ Connected with <%= @account.connection_strategy.gsub("_", " ") %>
        <% else %>
            ❌ Not connected
        <% end %>
    </div>
    <h2>Core Usage</h2>
    <%
        chart_data = [
            {
                name: 'Actuals',
                data: @cost_summary[:this_month_current_by_day]
            },
            {
                name: 'Forecast',
                data: @cost_summary[:this_month_forecast_by_day]
            }
        ]
        current_monthly_total = @cost_summary[:this_month_current_by_day].sum { |data| data[1] }
        expected_month_end_total = current_monthly_total + @cost_summary[:this_month_forecast_by_day].sum { |data| data[1] }
        current_month_current_services_to_ignore_total = @cost_summary[:this_month_current_services_to_ignore].sum do |group|
            group[:data].sum { |data| data[1] }
        end
    %>
    <%= column_chart(chart_data, stacked: true) %>

    <div>
        Current spend this month (minus excluded services): <%= number_to_currency(current_monthly_total) %>
    </div>
    <div>
        Expected month-end spend (minus excluded services): <%= number_to_currency(expected_month_end_total) %>
    </div>

    <h3>Excluded Services</h3>
    <%= column_chart(@cost_summary[:this_month_current_services_to_ignore], stacked: true) %>
    <div>
        Excluded services month to date: <%= number_to_currency(current_month_current_services_to_ignore_total) %>
    </div>
    <br/>
    <div>
        <%= link_to "CSP Analyses for #{@account.name}", account_analyses_path(@account) %>
    </div>
    <div>
        <%= link_to "Back to Accounts", accounts_path %>
    </div>
</section>